<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="navbar">
    <h2 class="logo">PhishGuard</h2>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/url_checker">URL Checker</a></li>
        <li><a href="/email-scanner">Email Scanner</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
<div class="nav-spacer"></div>